<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Server_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Cloud_Power_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Server_Manager.Properties.Settings>
            <setting name="IP" serializeAs="String">
                <value>192.168.0.1</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ShutdownCMD" serializeAs="String">
                <value />
            </setting>
            <setting name="MAC" serializeAs="String">
                <value>00-00-00-00-00-00</value>
            </setting>
            <setting name="BroadcastIP" serializeAs="String">
                <value>192.168.0.255</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>9</value>
            </setting>
        </Server_Manager.Properties.Settings>
        <Cloud_Power_Manager.Properties.Settings>
            <setting name="NetCardIP" serializeAs="String">
                <value>192.168.0.200</value>
            </setting>
            <setting name="OSIP" serializeAs="String">
                <value>192.168.0.17</value>
            </setting>
            <setting name="NetCardUser" serializeAs="String">
                <value>USERID</value>
            </setting>
            <setting name="NetCardPass" serializeAs="String">
                <value>PASSW0RD</value>
            </setting>
            <setting name="OSUser" serializeAs="String">
                <value>domowy</value>
            </setting>
            <setting name="OSPass" serializeAs="String">
                <value>qaz</value>
            </setting>
            <setting name="StartCmd" serializeAs="String">
                <value>power on</value>
            </setting>
            <setting name="ShutDwnCmd" serializeAs="String">
                <value>shutdown -s -t 0</value>
            </setting>
        </Cloud_Power_Manager.Properties.Settings>
    </userSettings>
</configuration>